.spreadCards {
  margin: auto;
  max-width: 500px;

  /* @media (min-width: 1400px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 40rem, 80rem, 80rem;
    padding: 1rem;
  } */
}
.spreadCards > * {
  max-width: 100%;
  max-height: 100%;
}

.infoCard:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Larger shadow */
}

.spreadPoints {
  display: flex;
  justify-content: space-between;
  /* @media (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  } */
}

.customerInterface {
  grid-column: 2/4;
  grid-row: 2;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #d8e5a7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dashComments {
  grid-column: 2/4;
}

.orderFormComments {
  grid-column: 4/6;
}

.orderFormComments h2 {
  text-align: center;
}

.farmersDash {
  grid-column: 4/6;
  grid-row: 3;
  padding: 1rem;

  /* @media (min-width: 768px) {
    border-radius: 1rem;
    background-color: #e5a7a7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */
}

.imAnApp {
  grid-column: 3/5;
  grid-row: 1;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #e1a7e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin-bottom: 2rem;
}

.imAnApp button {
  margin: 10px;
  width: 10rem; /* adjust as needed */
  background-color: #058d13c5; /* adjust as needed */
  color: white; /* adjust as needed */
  border: #ffffff; /* adjust as needed */
  border-radius: 4px; /* adjust as needed */
  font-size: 16px; /* adjust as needed */
  padding: 10px;
  cursor: pointer;
}

.imAnApp h2 {
  text-align: center;
}

.imAnApp:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Larger shadow */
}

.dash button {
  font-weight: bold;
  width: 8rem; /* adjust as needed */
  height: 8rem; /* adjust as needed */
  background-color: #077fff7e; /* adjust as needed */
  color: white; /* adjust as needed */
  border: none; /* adjust as needed */
  border-radius: 5px; /* adjust as needed */
  font-size: 16px; /* adjust as needed */
}

.dash:hover {
  opacity: 0.5;
}
