.headshot {
  display: block;
  margin: auto;
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.logo img {
  width: 50px; /* adjust as needed */
  height: 50px; /* adjust as needed */
  object-fit: contain;
}

.logos {
  display: flex;
  justify-content: center;
}

.logo {
  flex: 1 0 20%; /* adjust this value to control the size of the logos */
  max-width: 100px; /* adjust this value to control the maximum size of the logos */
  height: auto;
  margin: 0.5rem;
}

.logo:hover {
  opacity: 0.5;
}

.imageContainer {
  position: relative;
}

.storyCard:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Larger shadow */
}

.infoCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #a7ace5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.infoCard:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Larger shadow */
}

.storyCard {
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #d1f2d2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
