.loginContainer {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.signupContainer {
  padding: 1rem;
  margin: auto;
  border-radius: 1rem;
  background-color: #c48fdd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin-bottom: 2rem;
}

.signupContainer form {
  text-align: left;
  width: 100%;
}

.signupContainer label {
  font-weight: bold;
  margin-bottom: 1rem;
}

.signupContainer input {
  float: right;
}

.signupContainer button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0a3e75;
  color: #fff;
  cursor: pointer;
}

.loginContainer input[type='submit']:hover {
  background-color: #3a638e;
}

.signupDashContainer {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.signupDashContainer div {
  margin: 1rem 0;
}

.loginContainer h2 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.loginContainer h4 {
  margin: 10px 0;
}

.loginContainer a {
  color: #007bff;
  text-decoration: none;
}

.loginContainer a:hover {
  text-decoration: underline;
}

.loginContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.loginContainer input[type='submit'] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0a3e75;
  color: #fff;
  cursor: pointer;
}

.loginContainer input[type='submit']:hover {
  background-color: #3a638e;
}
.loginContainer button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0a3e75;
  color: #fff;
  cursor: pointer;
}
